<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Books</title>
    <!-- Stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"></link>
    <link href="style.css" rel="stylesheet"/>

    <!-- load Angular from CDN -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="/node_modules/angular/angular.js"></script> -->
    <script src="/bower_components/angular/angular.js"></script>
    <!-- <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script> -->
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="app">
    <div class="container" class="books-container" ng-controller="BooksController">

      <div id="title">
        <h1 class="title">The New York Times</h1>
        <h1 class="title">Best Sellers</h1>
      </div>

      <div id="details">
        <img src="{{ selectBook.cover }}" >
        <h2>{{ selectBook.title }}</h2>
        <div><span>{{ selectBook.pages }}</span><span style="float: right;">{{ selectBook.price | currency }}</span></div>
      </div>

      <div id="books">
        <!-- <h2>Books id="books"</h2> -->
        <div ng-repeat="book in books">
          <img ng-click="click(book)" src="{{ book.cover }}" >
        </div>
      </div>

    </div>
  </body>
</html>