<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <!-- load Angular from CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="app">
    <div class="books-container" ng-controller="BooksController">
      <h1>Todos</h1>
      <input ng-model="newTodo">
      <button ng-click="addTodo(newTodo)">add</button>
      <ul>
        <li ng-repeat="todo in todos track by ">{{ todo }}</li>
      </ul>
    </div>
    <pre></pre>
  </body>
</html>