body {
 	max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#container {
  background-color: #C0C0C0;
}
#title {
	background-color: #C0C0C0;
}

#details {
	background-color: cyan; 
}
#books {
	background-color: #C0C0C0; 
}
.title {
	padding: 0;
  width: 35;
  margin-left: auto;
  margin-right: auto;
}
h1, h2 {
	align: center;
}
img {
 align: center;
}